# VRPipe is configured by this file;
# all worker nodes must be able to see this file.
# VRPipe looks in the following places for this
# file, in order of precedence:
# 1) In testing, .vrpipe.config in the root of the cloned git directory
# 2) $VRPIPE_CONFIG_FILE environment variable
# 3) .vrpipe.config in the user's home directory
# 
# Lines beginning with '#' are comments and are
# ignored. Empty lines are also ignored.
# Lines beginning with ':' denote a section start;
# there are 3 sections: 'common', for config options
# that apply to both production and testing, and
# sections for options specific to 'production' or
# 'testing'. It is up to you if you have options
# specific to either environment.
# Remaining lines are the options, in the form
# option_name = value

:common

# where is redis running? (it will be started here if not already running)
redis = 127.0.0.1:6379

# where is beanstalkd running? (it will be started here if not already running)
beanstalk = 127.0.0.1:11300
