# VRPipe is configured by this file;
# all worker nodes must be able to see this file.
# VRPipe looks in the following places for this
# file, in order of precedence:
# 1) In testing, .vrpipe.config in the root of the cloned git directory
# 2) .vrpipe.config in the user's home directory
# 3) $VRPIPE_CONFIG_FILE environment variable
# You can use multiple of these files, eg. have
# production options in the $VRPIPE_CONFIG_FILE
# file and have user-specific testing options
# in your home directory file. 
#
# The format of this file is TOML:
# https://github.com/toml-lang/toml
#
# There are 3 "tables" (sections): 'common', for
# config options that apply to both production and testing,
# and sections for options specific to 'production' or
# 'testing'. It is up to you if you have options
# specific to either environment.

[common]

# where is redis running? (it will be started here if not already running)
redis = "127.0.0.1:6379"

# where is beanstalkd running? (it will be started here if not already running)
beanstalk = "127.0.0.1:11300"
